.navbar-section a{
    text-decoration: none;
    color: #2C2D3F;
    font-weight:500;
}

.navbar-section {
    position: fixed;
    top: 0px;
    z-index: 11;
    background-color: #fff;
    width: 100vw;

}