.ready-to-help-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.emergency-service-card i{
    font-size: 40px;
    color: #1A76D1;
    margin-bottom: 15px;
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
}