.service-card{
    height: auto;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.service-card h1, p{
    color: black;
}
.service-card-logo i{
    color:#1A76D1;
    font-size: 2.5em;
    /* padding:0 0px; */
}
.service-card-contents{
    text-align: left;
}