.primary-color{
    color: #1A76D1;
}
.secondary-color{
   color: #2C2D3F;
}
.primary-bg{
    background-color: #1A76D1;
}
.secondary-bg{
   background-color: #2C2D3F;
}

.primary-btn{
    background-color: #1A76D1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

}
.white-btn {
    color: #1A76D1;
    background-color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 500ms ease;
}
.white-btn:hover{
    background-color: #1A76D1;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

}

