.diagnosis-link{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-decoration: none;
    color: gray;
    margin-bottom: 20px;
   
}
.diagnosis-link:active{
    color: #1a76d1;
}
.diagnosis-link i{
    font-size: 2em;
}
